.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
*.iml
*/node_modules/*
.DS_Store
.idea/
.idea/*
.vagrant/
.vagrant/*
experimental/
experimental/*
*.log
*.log.*
.log
*.csr
.csr
*.key
.key
*.save
.save
devops/chef-solo/
.ssh/
.pub
.pem
.DS_Store
*.log
*.log.*
.log
*.csr
.csr
*.key
.key
.ssh/
.pub
.pem