%%%-------------------------------------------------------------------
%%% @author evangelosp
%%% @copyright (C) 2014, evalonlabs
%%% Copyright 2015, evalonlabs
%%%
%%% Licensed under the Apache License, Version 2.0 (the 'License');
%%% you may not use this file except in compliance with the License.
%%% You may obtain a copy of the License at
%%%
%%%     http://www.apache.org/licenses/LICENSE-2.0
%%%
%%% Unless required by applicable law or agreed to in writing, software
%%% distributed under the License is distributed on an 'AS IS' BASIS,
%%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%%% See the License for the specific language governing permissions and
%%% limitations under the License.
%%% @doc
%%%
%%% @end
%%%-------------------------------------------------------------------

[
  {name, "datasmart_erl"},
  {descriptio, "A smart secure generic datastore"},
  {version, "0.0.2-alpha"},
  {keywords, ["couchdb", "srp", "aes", "encryption", "aws", "s3", "store", "datastore", "database", "couchbean", "restfull"]},
  {dependencies, [lager, cowboy, jiffy, eredis, uuid, bcrypt, couchbeam, mochiweb]},
  {licenses, ["AFL-2.0"]},
  {author, "Evangelos Pappas <epappas@evalonlabs.com>"},
  {contributors, [
    [{name, "Evangelos Pappas"}, {email, "epappas@evalonlabs.com"}]
  ]},
  {maintainers, [
    [{name, "Evangelos Pappas"}, {email, "epappas@evalonlabs.com"}]
  ]},
  {repository, [{type, git}, {url, "https://github.com/epappas/datasmart.git"}]},
  {homepage, "https://github.com/epappas/datasmart.git"}
].
